---
export const HOUSES = [
  {
    img: "https://a0.muscache.com/im/pictures/924849c7-ba0b-4092-b240-6fc81164ec8d.jpg?im_w=720",
    title: "Aguascalientes, México",
    description: "Una cabaña de lujo en un ubicación privada",
    price: 4100
  },
  {
    img: "https://a0.muscache.com/im/pictures/miso/Hosting-46451583/original/d0984d59-28ce-412e-ad4a-ea78eb957123.jpeg?im_w=720",
    title: "Mazamitla, México",
    description: "¡Hermosa Cabaña Suite! 🏡🌲🍁",
    price: 2500
  },
  {
    img: "https://a0.muscache.com/im/pictures/45759ccb-f6c4-41bf-bcf1-fad53be1bc3c.jpg?im_w=720",
    title: "Coatepec, México",
    description: "Cabaña en Coatepec pueblo mágico con alberca",
    price: 3040
  },
  {
    img: "https://a0.muscache.com/im/pictures/69647ecb-f185-4bc2-afff-f134e3953f85.jpg?im_w=720",
    title: "Arteaga, México",
    description: "Villas de la Rodada III",
    price: 3950
  },
  {
    img: "https://a0.muscache.com/im/pictures/miso/Hosting-41909615/original/4e393135-edbd-4bde-936d-04bc911c11cd.jpeg?im_w=720",
    title: "Huasca de Ocampo, México",
    description: "Casa del Árbol Pinochueco (Patagonia)",
    price: 2200
  },
  {
    img: "https://a0.muscache.com/im/pictures/50d18669-c451-4ab1-a885-003ba876a662.jpg?im_w=720",
    title: "Mineral del Chico, México",
    description: "Cabaña Boutique TinyChillHouse 2",
    price: 2094
  },
  {
    img: "https://a0.muscache.com/im/pictures/miso/Hosting-863818487467200344/original/a282d61d-c067-4d8b-8081-959bb3e4640f.jpeg?im_w=720",
    title: "San Marcos La Laguna, Guatemala",
    description: "Impresionante ~ A-Frame Madera @ AMATE ATITLAN",
    price: 3739
  },
  {
    img: "https://a0.muscache.com/im/pictures/prohost-api/Hosting-19842902/original/b7ed339f-3fd5-42fe-81c4-d92d10d6e951.jpeg?im_w=720",
    title: "Valle de Bravo, México",
    description: "Cabaña en Avándaro | Patio privado | seguridad 24/7",
    price: 2320
  },
  {
    img: "https://a0.muscache.com/im/pictures/f8b3a1cb-fad1-4106-8f74-c199f2e688fd.jpg?im_w=720",
    title: "Alfajayucan, México",
    description: "Bonita y Acogedora MiniCabaña Los Pinos",
    price: 356
  },
  {
    img: "https://a0.muscache.com/im/ml/photo_enhancement/pictures/0622e1df-cd50-4b4b-8d8a-1e43a4a0ee6d.jpg?im_w=720",
    title: "Tenango de Doria, México",
    description: "Treehouse en el Bosque: Paseos & Wildlife - WiFi",
    price: 1990
  },
  {
    img: "https://a0.muscache.com/im/pictures/miso/Hosting-774113980562883325/original/77e0f03c-a9a2-4cdc-9774-7bf1dfb95a2f.jpeg?im_w=720",
    title: "Zacatlán, México",
    description: "Metztli (Luna) Eco cabaña.",
    price: 605
  },
  {
    img: "https://a0.muscache.com/im/ml/photo_enhancement/pictures/a8f18b2c-c1e8-4069-bc8f-c815306c4fa3.jpg?im_w=720",
    title: "Amealco de Bonfil, México",
    description: "Cabaña Ardilla. Rancho Calixto",
    price: 1050
  },
  {
    img: "https://a0.muscache.com/im/pictures/miso/Hosting-545575653225038537/original/bd6542eb-7250-4fce-b9cd-84bf4456cfd1.jpeg?im_w=720",
    title: "Pachuca de Soto, México",
    description: "Skyhouse en el Bosque: Paseos & Wildlife - WiFi",
    price: 2500
  },
  {
    img: "https://a0.muscache.com/im/pictures/dff1f5e7-f2d1-47a0-ac3f-aced87ec4612.jpg?im_w=720",
    title: "Pinal de Amoles, México",
    description: "Cabañas Cardoso Suite con jacuzzi",
    price: 1993
  },
  {
    img: "https://a0.muscache.com/im/pictures/03ed094b-7167-47be-8dfc-d467b8d78523.jpg?im_w=720",
    title: "Arteaga, México",
    description: "Cabaña en Bosques de Monterreal 'Monte Erze'",
    price: 8200
  }
]
---

{
  HOUSES.map((product) => (
    <div class="card">
      <img src={product.img} alt={product.title} />
      <label>{product.title}</label>
      <p>{product.description}</p>
      <b>${product.price} mxn por huésped</b>
    </div>
  ))
}

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }

  label {
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0 4px;
  }

  p,
  b {
    font-size: 12px;
  }
</style>
